*.ipynb
*.py[cod]
*.swp

.coverage
.github/workflows/*.jnj
.pylintrc
.python-version
Pipfile.lock
repl_setup.py
build/*
dist/*
docs/build/*
docs/coverage
docs/html
examples/shodan/*.json
lib/rule_engine.egg-info/*
lib/rule_engine/parser.out
lib/rule_engine/parsetab.py
