[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ply = ">=3.9"
python-dateutil = "~=2.7"

[dev-packages]
sphinx = "*"
sphinx-rtd-theme = "*"
graphviz = "*"
coverage = "*"
ipython = "*"
setuptools = "*"

[scripts]
tests = 'sh -c "PYTHONPATH=$(pwd)/lib python -m unittest -v tests"'
tests-coverage = 'sh -c "PYTHONPATH=$(pwd)/lib coverage run -m unittest -v tests && coverage report --include=\"*/rule_engine/*\""'
